.row {
    max-width: 1170px;
    margin: 0 auto;
    // .navigation {
    //     text-align: right;
    // }
}
.modal-content {
    max-width: 1170px;
    width: 80%;
    padding: 30px;
    color: #444;
    max-height: 75%;
    overflow: auto;
}

.modal-content h3 {
    margin-top: 30px;
}
.modal-content h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}
