<div class="row" id="respondents">
  <div id="area"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h3>
          Areas of Discrimination
        </h3>
        <h4>
          Accommodation, Service or Facility
        </h4>
        <p>
          "Accommodation, service or facility" means an accommodation, service or facility that is customarily available
          to the public. Examples are hotels, stores, restaurants, schools, government programs, community recreation
          programs, and stratas.
        </p>

        <h4>
          Employment
        </h4>
        <ul>
          "Employment" is about work at a job.
          <li>
            Volunteer jobs can be included.
          </li>
          <li>
            Work as a contractor can be included depending on your relationship with the company you work for,
            including the amount of control they have over your work.
          </li>
          <li>
            Employment covers all parts of work, including hiring, firing, wages, benefits, and work environment.
          </li>
        </ul>

        <h4>
          Employment Advertisement
        </h4>
        <p>
          "Employment advertisement" is an ad for a job.
        </p>


        <h4>
          Publication
        </h4>
        <p>
          "Publication" includes something made public, such as a newspaper article or a sign or a symbol in a public
          place. It must show discrimination or an intention to discriminate, or be likely to expose a person or group
          or class of persons to hatred or contempt.
        </p>

        <h4>
          Purchase of Property
        </h4>
        <p>
          "Purchase of Property" refers to buying property, such as land, a building or a condo.
        </p>

        <h4>
          Tenancy
        </h4>
        <p>
          "Tenancy" refers to renting an apartment, office or other space. It includes an application to rent a space,
          terms of a tenancy agreement, how you are treated by a landlord, and eviction.
        </p>

        <h4>
          Unions and Associations
        </h4>
        <p>
          "Unions and associations" are organizations or associations that represent workers or employers in the
          workplace. It covers applying for membership, being suspended or expelled, and how you are treated by your
          union or occupational association.
        </p>

        <h4>
          Wages
        </h4>
        <p>
          "Wages" means lower pay for men or women for similar or substantially similar work. Complaints about
          discrimination in wages on grounds other than sex may be filed in the area of employment.
        </p>
      </div>
    </div>
  </div>
  <div id="workplace"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h3>
          Complaints in the Workplace
        </h3>
        <p>
          The employer is generally responsible for what happens at work and is usually the Respondent in a work-related
          complaint.You may also name individuals you believe are personally responsible for what happened.
        </p>
        <p>
          For example, if you were fired, you may name the person who decided to fire you, but you should not name the
          person who only delivered the termination letter to you as part of their job.
        </p>
      </div>
    </div>
  </div>
  <div id="association"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h3>
          Complaints About a Union or Association
        </h3>
        <p>
          If the complaint is about what happened at work, you can name a union or association as a Respondent only if
          it is responsible for what happened at work. For example, if the collective agreement is discriminatory or a
          union interfered with the employer's efforts to accommodate your disability.
        </p>
        <p>
          If your complaint is about your membership in a union (or other association representing you in the
          workplace), you can only name the union or association. You cannot name an individual as a Respondent.
        </p>
      </div>
    </div>
  </div>
  <div id="find"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h3>
          Find Proper Names, Addresses and Phone Numbers for Businesses or Organizations
        </h3>
        <p>The name and address might be: </p>
        <ul style="padding-left: 20px;">
          <li>
            on a record of employment, a pay stub, a T-4 slip • on a business card or letterhead in the phone book
          </li>
          <li>
            on their internet website under "contact us" in an advertisement
          </li>
          <li>
            available from the local government office (business licensing department) in the community where the
            business operates (see the Blue Pages in your local phone book or look on the internet.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="relationship"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h3>
          State Your Relationship With Each Respondent
        </h3>
        <p>
          For example:
        </p>
        <ul style="padding-left: 20px;">
          <li>
            I was an employee at ABC Company
          </li>
          <li>
            I was a customer at XYZ Sporting Goods Ltd.
          </li>
          <li>
            I am a tenant in a building owned by RST Ltd. and managed by GHI Inc.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="grounds"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h3>
          Grounds of discrimination
        </h3>
        <h4>
          Age
        </h4>
        <p>
          "Age" means 19 years or more. It does not apply to purchase of property.
        </p>

        <h4>
          Ancestry
        </h4>
        <p>
          "Ancestry" is defined broadly and includes where a person's family is from.
        </p>

        <h4>
          Colour
        </h4>
        <p>
          "Colour" refers to a person's colour.
        </p>

        <h4>
          Criminal Conviction
        </h4>
        <p>
          "Criminal conviction" includes being charged with or convicted of an offence under the Criminal Code or
          another law. It only applies to employment or membership in a union or occupational association.
        </p>

        <h4>
          Family Status
        </h4>
        <p>
          "Family status" includes being related to another person by blood, marriage or adoption. It includes family
          type (for example, a single parent family) and who is in your family (for example, you are fired because of
          who your father is). It does not apply to purchase of property.
        </p>

        <h4>
          Gender Identity or Expression
        </h4>
        <p>
          "Gender identity" is a person's sense of themselves as male, female, both, in between or neither. It includes
          people who identify as transgender. Gender identity may be different or the same as the sex a person is
          assigned at birth.
        </p>
        <p>
          "Gender expression" is how a person presents their gender. This can include behaviour and appearance,
          including dress, hair, make-up, body language and voice. This can also include name and pronoun, such as he,
          she or they. How a person presents their gender may not necessarily reflect their gender identity.
        </p>

        <h4>
          Marital Status
        </h4>
        <p>
          "Marital status" includes being married, single, widowed, divorced, separated or living common-law. It
          includes who your spouse is (for example, you are refused service because of who your wife is).
        </p>

        <h4>
          Mental Disability
        </h4>
        <p>
          "Mental disability" includes a mental condition such as a learning disorder, developmental disability, or
          mental illness, that affects or is seen as affecting a person's abilities.
        </p>

        <h4>
          Physical Disability
        </h4>
        <p>
          "Physical disability" includes a physical condition that affects or is seen as affecting a person's abilities
        </p>

        <h4>
          Place of Origin
        </h4>
        <p>
          "Place of origin" is defined broadly and includes where a person is from.
        </p>

        <h4>
          Political Belief
        </h4>
        <p>
          "Political belief" includes support of a political party or group that advocates political change, and beliefs
          about the organization and governance of communities. It only applies to employment, employment
          advertisements, and membership in a union or occupational association.
        </p>

        <h4>
          Race
        </h4>
        <p>
          "Race" is defined broadly to include groups such as First Nations, Métis, Chinese or South Asian.
        </p>

        <h4>
          Religion
        </h4>
        <p>
          "Religion" includes adherence to the practices of a particular faith or genuinely held religious beliefs, and
          not having religious beliefs.
        </p>

        <h4>
          Sex
        </h4>
        <p>
          "Sex" includes being a man, woman, inter-sexed or transgender. It also includes pregnancy, breastfeeding and
          sexual harassment.
        </p>

        <h4>
          Sexual Orientation
        </h4>
        <p>
          "Sexual orientation" includes being heterosexual, gay, lesbian or bisexual.
        </p>

        <h4>
          Source of Income
        </h4>
        <p>
          "Source of income" refers to legal sources of income. For example, it includes income assistance, disability
          pension benefits, or rent subsidies. It only applies in the area of tenancy.
        </p>

      </div>
    </div>
  </div>
  <div id="respondent-action"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h4>
          Describe what the Respondent said, did or failed to do that violates the Code. Be specific about dates and
          what happened.
        </h4>
        <ul style="margin-top:20px;">
          For example:
          <li>
            If the Respondent used homophobic words, set out the words that were used and when.
          </li>
          <li>
            If you needed the Respondent to take steps so you could work with a disability ("accommodation"), explain:
          </li>
          <li>
            what the Respondent knew about your need for accommodation, and
          </li>
          <li>
            what the Respondent did or failed to do.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="respondent-impact"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h4>
          Explain what effect the Respondent's conduct has had on you.
        </h4>
        <ul style="margin-top:20px;">
          For example:
          <li>
            Your dignity, feelings or self-respect were damaged.
          </li>
          <li>
            You lost an opportunity for a promotion.
          </li>
          <li>
            You were denied the opportunity to rent an apartment.
          </li>
          <li>
            You were denied access to a service.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="factor"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h4>
          Give enough information to show how each ground was at least a factor in the adverse impact.
        </h4>
        <ul style="margin-top:20px;">
          For example:
          <li>
            If you could not access a service because of your disability, explain:
          </li>
          <li>
            what accommodation you needed (but didn't get) to access the service
          </li>
          <li>
            anything else that shows how your disability was a factor
          </li>
          <li>
            If you were fired because you are pregnant, explain:
          </li>
          <li>
            how and when the Respondent knew you were pregnant
          </li>
          <li>
            when you were fired
          </li>
          <li>
            whether others were fired
          </li>
          <li>
            whether you were replaced
          </li>
          <li>
            anything else that shows how your pregnancy was a factor</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="when"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <p>
          Review the conduct described for each respondent. If all the conduct you say is discrimination happened in the
          last one year, your complaint is filed in time. Check yes, and go to "Other related Proceedings" section.
          Otherwise check no,
          and continue.
        </p>
      </div>
    </div>
  </div>
  <div id="related"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        For each Respondent, if you are complaining about related or similar conduct, you must file your complaint
        within one year of the
        most recent conduct. If the conduct is unrelated or different, check no and go "Tribunal may accept late
        complaint" section. If the conduct is related or similar,
        check yes, and explain why.
        <ul style="margin-top:20px;">
          Conduct may be related or similar if it is the same as or like other conduct, or is about the same issue or
          problem. For example:
          <li>
            January 15: your manager sent you unwanted emails of a sexual nature
          </li>
          <li>
            January 20: you complained to your employer about your manager, but it did nothing
          </li>
          <li>
            February 10: your manager touched you inappropriately
          </li>
        </ul>
        <p style="margin-top: 20px;">
          For your manager, the January 15 and February 10 conduct is related or similar because both events involve
          sexual harassment.
        </p>
        <p>
          For your employer, all three events are related or similar because they each involve your employer's
          responsibility for a workplace without sexual harassment.
        </p>
      </div>
    </div>
  </div>
  <div id="gap"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <p>
          If there are gaps between similar or related conduct, the older conduct may be filed late. For each
          Respondent, explain the reason
          for any gaps. For example:
        </p>
        <ul style="margin-top:20px;">
          Conduct may be related or similar if it is the same as or like other conduct, or is about the same issue or
          problem. For example:
          <li>
            If your employer denied you a promotion on three occasions, but these events were three months apart, you
            might explain
            that the job postings were three months apart.
          </li>
          <li>
            If your supervisor used racial slurs, but there is a four-month gap, you might explain that the supervisor
            was on a leave of absence.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h1>
      Respondent(s) information and Conduct(s)
    </h1>
    <div id="surveyElementHRT"></div>
    <div class="navigation">
      <button class="btn btn-default" (click)="handleNextStep()">
        Continue
      </button>
    </div>
  </div>
</div>
