<div class="row">
  <h1>Complaint Submitted</h1>

  <p>
    You have successfully submitted your complaint.
  </p>

  <p>
    If you are filing
  </p>
  <ul>
    <li>
      A form 1.2 Authorization to file a complaint for another person
    </li>

    <li>Evidence to support a time limit request, such as a doctor’s note</li>

    <li>
      A copy of an employment ad or publication if that is what the complaint is
      about
    </li>
  </ul>
  <p>
    Email a PDF copy of the document(s) to
    <a href="BCHumanRightsTribunal@gov.bc.ca">BCHumanRightsTribunal@gov.bc.ca</a
    >.
  </p>
  <p>
    In the subject line, put the complainant name and say “new complaints
    documents”.
  </p>
  <h3>
    WHAT HAPPENS NEXT?
  </h3>

  <p>
    The Tribunal will review your complaint. Next, it will tell you one of the
    following:
  </p>
  <ul>
    <li>
      the complaint form is complete and the complaint will proceed to the next
      step. The Tribunal will send a copy to the Respondent(s)
    </li>
    <li>
      the complaint form is incomplete and the Tribunal will ask you for more
      information by a certain date
    </li>
    <li>
      the complaint is on hold until the end of another proceedings
    </li>
    <li>
      the complaint cannot be accepted for filing because:
      <ul>
        <li>
          the complaint is not covered by the BC Human Rights Code
        </li>
        <li>
          the complaint does not set out facts that could be discrimination
          under the BC Human Rights Code
        </li>
        <li>
          the complaint was filed late and the Tribunal has decided not to
          accept it.
        </li>
      </ul>
    </li>
  </ul>
  <h3 style="margin-top: 30px;">
    ACCOMMODATION
  </h3>
  <p>
    The Tribunal wants to make sure its process is safe and accessible for
    everyone.
  </p>
  <p>
    You may need us to address your needs so can take part. (The legal term is
    “accommodation”.)
  </p>
  <p>
    If you need an accommodation, attach a page called “Accommodation Request”.
  </p>
  <p>
    <b>
      Examples:
    </b>
  </p>
  <ul>
    <li>
      “I am Deaf. I need an interpreter.”
    </li>
    <li>
      “I am Indigenous. I would like access to smudging during a hearing.”
    </li>
  </ul>
  <h3 style="margin-top: 30px;">
    HELP WITH YOUR COMPLAINT
  </h3>
  <p>
    See <a href="http://www.bchrt.bc.ca/resources/index.htm">Who Can Help?</a> on the Tribunal’s website.
  </p>
  <h3 style="margin-top: 30px;">
    PRIVACY NOTICE
  </h3>
  <p>
    The Tribunal collects personal information to process human rights
    complaints. The Tribunal may survey parties to improve its services.
  </p>
  <p>
    The demographic information you give at the end of this form is
    confidential.
  </p>
  <p>
    The Tribunal will give a copy of the rest of the form to the other parties.
  </p>
  <p>
    The Tribunal must provide copies of complaints and responses to the Office
    of the Human Rights Commissioner. The Tribunal may provide the Commissioner
    with other records in a complaint file.
  </p>
  <ul>
    The Tribunal’s process is public. The Tribunal may disclose personal
    information to the public as follows:
    <li>
      The Tribunal publishes most decisions on its website
    </li>
    <li>
      The Tribunal publishes a hearing schedule.
    </li>
    <li>
      Before a hearing, the public can see parts of the file. This does not
      include contact information. It does include:
      <ul>
        <li>
          the complaint
        </li>
        <li>
          the response to the complaint
        </li>
      </ul>
    </li>
    <li>
      Hearings are open to the public.
    </li>
    <li>
      The Freedom of Information and Protection of Privacy Act applies to the
      Tribunal. Someone can apply to see information in the complaint file.
    </li>
  </ul>
  <p>
    You can ask the Tribunal to limit the information it makes public. You can
    also ask the Tribunal to order a publication ban. Use a Form 7.1 General
    Application to apply. For more information, see the Tribunal’s website
    <a href="http://www.bchrt.bc.ca/complaint-process/make-application/index.htm" target="_blank">www.bchrt.bc.ca</a>.
  </p>
  <p>
    Other laws may restrict a party from going public with information in this
    complaint.
  </p>
  <p>
    For more information, see the <a href="http://www/bchrt/bc/ca/law-library/policies/privacy.htm">Complaint Process Privacy Policy</a>.
  </p>
</div>
