<div class="row">
  <h1>Complaint Submitted</h1>

  <p>
    The Tribunal is sending you an email with your complaint number.
  </p>

  <p>
    If you are filing
  </p>
  <ul>
    <li>
      A form 1.2 Authorization to file a complaint for another person
    </li>

    <li>Evidence to support a time limit request, such as a doctor’s note</li>

    <li>
      A copy of an employment ad or publication if that is what the complaint is
      about
    </li>
  </ul>
  <p>
    Email a PDF copy of the document(s) to
    <a href="mailto:BCHumanRightsTribunal@gov.bc.ca"
      >BCHumanRightsTribunal@gov.bc.ca</a
    >.
  </p>
  <p>
    In the subject line, , include:
  </p>
  <ul>
    <li>The complainant’s name</li>
    <li>The complaint number – see email from the Tribunal</li>
    <li>“New complaints documents”</li>
  </ul>
  <h3>
    What happens next?
  </h3>

  <p>
    The Tribunal will review your complaint. Next, it will tell you one of the
    following:
  </p>
  <ul>
    <li>
      the complaint form is complete and the complaint will proceed to the next
      step. The Tribunal will send a copy to the Respondent(s)
    </li>
    <li>
      the complaint form is incomplete and the Tribunal will ask you for more
      information by a certain date
    </li>
    <li>
      the complaint is on hold until the end of another proceeding
    </li>
    <li>
      the complaint cannot be accepted for filing because:
      <ul>
        <li>
          the complaint is not covered by the BC Human Rights Code
        </li>
        <li>
          the complaint does not set out facts that could be retaliation under
          the BC Human Rights Code
        </li>
        <li>
          the complaint was filed late and the Tribunal has decided not to
          accept it.
        </li>
      </ul>
    </li>
  </ul>

  <h3 style="margin-top: 30px;">
    Accommodation
  </h3>
  <p>
    The Tribunal wants to make sure its process is safe and accessible for
    everyone.
  </p>
  <p>
    You may need us to address your needs so can take part. (The legal term is
    “accommodation”.)
  </p>
  <p>
    If you need an accommodation, send us a page called “Accommodation Request” to <a href="mailto:BCHumanRightsTribunal@gov.bc.ca">BCHumanRightsTribunal@gov.bc.ca</a>.
  </p>
  <p>
    <b>
      Examples:
    </b>
  </p>
  <ul>
    <li>
      “I am Deaf. I need an interpreter.”
    </li>
    <li>
        “I am Indigenous. I want to smudge at the hearing.”
    </li>
  </ul>
  <h3 style="margin-top: 30px;">
    Help with your complaint
  </h3>
  <p>
    See
    <a href="http://www.bchrt.bc.ca/resources/index.htm" target="_blank"
      >Who Can Help?</a
    >
    on the Tribunal’s website.
  </p>
  <h3 style="margin-top: 30px;">
    Privacy notice
  </h3>
  <p>
    See the
    <a
      href="http://www.bchrt.bc.ca/law-library/policies/privacy.htm"
      target="_blank"
      >Complaint Process Privacy Policy</a
    >.
  </p>
</div>
