/openshift/settings.local.sh
/openshift/templates/angular-build.local.param
/openshift/templates/nginx-runtime/nginx-runtime.local.param
/openshift/templates/angular-on-nginx/angular-on-nginx-deploy.local.param
/openshift/templates/angular-on-nginx/angular-on-nginx-build.local.param
/fpo-web/openshift/templates/angular-build.local.param
/fpo-web/openshift/templates/nginx-runtime/nginx-runtime.local.param
/fpo-web/openshift/templates/angular-on-nginx/angular-on-nginx-deploy.local.param
/fpo-web/openshift/templates/angular-on-nginx/angular-on-nginx-build.local.param
/fpo-pdf/openshift/templates/weasyprint-deploy.local.param
/fpo-pdf/openshift/templates/weasyprint-build.local.param
/fpo-db/openshift/templates/postgresql-deploy.local.param
/fpo-db/openshift/templates/postgresql-build.local.param
/fpo-api/openshift/templates/schema-spy/schema-spy-deploy.local.param
/fpo-api/openshift/templates/schema-spy/schema-spy-build.local.param
/fpo-api/openshift/templates/django/django-deploy.local.param
/fpo-api/openshift/templates/django/django-build.local.param
node_modules/
fpo-web/node_modules/
/fpo-web/openshift/angular-on-nginx-deploy.overrides.sh
