<div class="row">
  <!-- <ng-container *ngIf="show"> -->
  <div class="submitting" *ngIf="loading">
    <span>
      Sending your form to the Tribunal…
    </span>
  </div>
  <h1>
    Review & Submit
  </h1>

  <div style="margin: 20px auto;">
    <button class="btn btn-secondary" (click)="handleBackBtnClick()">
      Back
    </button>
  </div>
  <div class="block">
    <h3>
      Party information
    </h3>
    <div class="grey-box">
      <p>
        <b>Complainant:</b>
        {{ formData.complainant["Legal Name - First Name"] }}
        {{ formData.complainant["Legal Name - Last Name"] }}
      </p>
      <p
        *ngIf="
          formData.complainant[
            'Preferred name - e.g. traditional name, nickname, alias'
          ] !== ''
        "
      >
        <b>Preferred name:</b>
        {{
          formData.complainant[
            "Preferred name - e.g. traditional name, nickname, alias"
          ]
        }}
      </p>
      <p *ngIf="formData.complainant['Use my preferred name']">
        <b>Use my preferred name:</b>
        {{ formData.complainant["Use my preferred name"].join(", ") }}
      </p>

      <p>
        <b>How do you want to be addressed:</b>
        {{
          formData.complainant["Title"]
            ? formData.complainant["Title"] === "other"
              ? formData.complainant["Title-Comment"]
              : formData.complainant["Title"]
            : ""
        }}
      </p>
      <p>
        <b>
          Pronoun:
        </b>
        {{
          formData.complainant["Pronoun"]
            ? formData.complainant["Pronoun"] === "other"
              ? formData.complainant["Pronoun-Comment"]
              : formData.complainant["Pronoun"]
            : ""
        }}
      </p>

      <!-- <p>
        <b>Other names:</b>
        {{
          formData.complainant["List other names you use or are known by"]
            ? formData.complainant["List other names you use or are known by"]
            : "N/A"
        }}
      </p> -->

      <div style="margin-top: 30px;"></div>
      <div
        *ngIf="
          formData.complainant['Select only one option'] !== 'The complainant'
        "
      >
        <p>
          <b>The person who will communicate with the Tribunal:</b><br />
          {{
            formData.complainant[
              "Name of the person who will communicate with the Tribunal, if different from the Complainant"
            ]
          }}
        </p>
        <p>
          {{ formData.complainant["First name"] }}
          {{ formData.complainant["Last name"] }}
          <ng-container *ngIf="formData.complainant['Organization name']">
            <br />
            Organization name: {{ formData.complainant["Organization name"] }}
          </ng-container>
          <ng-container
            *ngIf="
              formData.complainant[
                'Contact Preferred name - e.g. traditional name, nickname, alias'
              ]
            "
          >
            <br />
            Contact Preferred name:
            {{
              formData.complainant[
                "Contact Preferred name - e.g. traditional name, nickname, alias"
              ]
            }}
          </ng-container>
        </p>

        <p>
          <b>How do you want to be addressed:</b>
          {{
            formData.complainant["Contact Title"]
              ? formData.complainant["Contact Title"] === "other"
                ? formData.complainant["Contact Title-Comment"]
                : formData.complainant["Contact Title"]
              : ""
          }}
        </p>
        <ng-container *ngIf="formData.complainant['Contact Pronoun']">
          <p>
            Pronoun:
            {{
              formData.complainant["Contact Pronoun"]
                ? formData.complainant["Contact Pronoun"] === "other"
                  ? formData.complainant["Contact Pronoun-Comment"]
                  : formData.complainant["Contact Pronoun"]
                : ""
            }}
          </p>
        </ng-container>
      </div>
      <div>
        <p>
          <b>Address:</b>
          {{ formData.complainant["Complainant Contact Mailing address"] }},
          {{ formData.complainant["Complainant Contact City"] }},
          {{ formData.complainant["Complainant Contact Province"] }}
          {{ formData.complainant["Complainant Contact Postal Code"] }}
        </p>
        <p>
          <b>Phone number:</b>
          {{
            formData.complainant["Complainant Contact Phone number"] || "N/A"
          }}
        </p>
        <p
          *ngIf="formData.complainant['Complainant Contact Cell Phone number']"
        >
          <b>Cell phone number:</b>
          {{
            formData.complainant["Complainant Contact Cell Phone number"] ||
              "N/A"
          }}
        </p>
        <p *ngIf="formData.complainant['Complainant Contact Fax']">
          <b>Fax:</b>
          {{ formData.complainant["Complainant Contact Fax"] || "N/A" }}
        </p>
        <p>
          <b>
            Email:
          </b>
          {{ formData.complainant["Complainant Contact Email"] || "N/A" }}
        </p>
      </div>
      <div style="margin-top: 30px;"></div>
      <h4 style="font-size: 18px; font-weight: bold; margin-bottom: 10px;">
        Respondents:
      </h4>
      <div
        style="margin-bottom: 20px;"
        *ngFor="
          let respondent of formData.complainant[
            'Respondents Contact Information'
          ]
        "
      >
        <p>
          <b>Name of the Respondent:</b>
          {{ respondent["Name of the Respondent"] }}
        </p>
        <p>
          <b>Relationship to you:</b> {{ respondent["Relationship to you"] }}
        </p>
        <p>
          <b>Mailing Address:</b><br />
          {{ respondent["Mailing address"] }},
          {{
            respondent["Address line 2"]
              ? respondent["Address line 2"] + ", "
              : ""
          }}
          {{ respondent["City"] + ", " || "" }}
          {{ respondent["Province"] + ", " || "" }}
          {{ respondent["Postal Code"] }}
        </p>
        <p>
          <b>Phone number:</b>
          {{ respondent["Respondent Contact Phone number"] || "N/A" }}
        </p>
        <p>
          <b>Cell phone number:</b>
          {{ respondent["Respondent Contact Cell Phone number"] || "N/A" }}
        </p>
        <p>
          <b>Respondent Contact Email:</b>
          {{ respondent["Respondent Contact Email"] || "N/A" }}
        </p>
        <p>
          <b>Respondent Contact Fax:</b>
          {{ respondent["Respondent Contact Fax"] || "N/A" }}
        </p>
      </div>
    </div>

    <div style="margin-top: 30px;"></div>
    <h3>
      Area and Grounds
    </h3>
    <div class="grey-box">
      <div
        *ngFor="let area of formData.areaAndGrounds.areas"
        style="margin-bottom: 20px;"
      >
        <p>
          <b>What is the Area of Discrimination?</b>
          {{ area["What is the Area of Discrimination?"] }}
        </p>
        <p *ngIf="area['What is the Area of Discrimination?'] === 'Employment'">
          <b>It’s about:</b>
          {{
            area[
              "If your complaint is about employment, check if it’s about"
            ].join(", ")
          }}{{
            area[
              "If your complaint is about employment, check if it’s about-Comment"
            ]
              ? ": " +
                area[
                  "If your complaint is about employment, check if it’s about-Comment"
                ]
              : ""
          }}
        </p>
        <p>
          <b>What are the Grounds of Discrimination and related details?</b>
        </p>
        <p *ngFor="let item of area['What are the Grounds of Discrimination?']">
          {{ item }}: {{ area["Details - " + item] }}
        </p>
      </div>
    </div>

    <div style="margin-top: 30px;"></div>
    <h3>
      Details of the Discrimination
    </h3>
    <div class="grey-box">
      <ng-container
        *ngFor="
          let event of formData.detailsOfDiscrimination[
            'Details of the Discrimination for each Respondent'
          ]
        "
        style="margin-bottom: 10px;"
      >
        <p><b>Respondent:</b> {{ event.Respondent }}</p>
        <p>
          <b>Describe the harm you experienced in a few words:</b>
          {{ event["Describe the harm you experienced in a few words"] }}
        </p>
        <p>
          <b
            >Explain how the harm relates to the grounds you have selected
            before:</b
          >
          {{
            event[
              "Explain how the harm relates to the grounds you have selected before"
            ]
          }}
        </p>
        <div>
          <b
            >Give details about this Respondent’s conduct that you say is
            discrimination:</b
          >
          <ng-container
            *ngFor="
              let detail of event[
                'Give details about this Respondent’s conduct that you say is discrimination'
              ]
            "
          >
            <p>
              <b>
                Conduct:
              </b>
              {{ detail.Conduct }} <br />
              <b>
                Date:
              </b>
              {{ detail.Date }}
            </p>
          </ng-container>
        </div>
        <div style="margin-top: 20px;"></div>
      </ng-container>
    </div>
    <div style="margin-top: 30px;"></div>
    <h3>
      Time limit to make Complaint
    </h3>
    <div class="grey-box">
      <h4 style="margin: 20px 0; font-size: 18px;">
        <b
          >For each Respondent, what is the date of the most recent event that
          you say is discrimination?</b
        >
      </h4>
      <ng-container
        *ngFor="
          let respondent of formData.fileInTime[
            'There is a 1-year time limit for filing a complaint'
          ]
        "
        style="margin-bottom: 10px;"
      >
        <p><b>Respondent:</b> {{ respondent["Respondent name"] }}</p>
        <p>
          <b
            >What is the date of the most recent event that you say is
            discrimination?</b
          >
          {{
            respondent[
              "What is the date of the most recent event that you say is discrimination?"
            ]
          }}
        </p>
        <p>
          <b>Did the most recent conduct happen in the last year?</b>
          {{
            respondent["Did the most recent conduct happen in the last year?"]
          }}
        </p>
      </ng-container>
      <p>
        <b
          >Did all of the conduct happen in the last year for all
          Respondents?</b
        >
        {{
          formData.fileInTime[
            "Did all of the conduct happen in the last year for all Respondents?"
          ]
        }}
      </p>
      <p
        *ngIf="
          formData.fileInTime[
            'Did all of the conduct happen in the last year for all Respondents?'
          ] === 'No'
        "
      >
        <b>Is all of the conduct related or similar?</b>
        {{ formData.fileInTime["Is all of the conduct related or similar?"] }}
      </p>
      <p
        *ngIf="
          formData.fileInTime['Is all of the conduct related or similar?'] ===
          'Yes'
        "
      >
        <b>Explain how the conduct is similar or related</b><br />
        {{
          formData.fileInTime["Explain how the conduct is similar or related"]
        }}
      </p>
      <p
        *ngIf="
          formData.fileInTime['Is all of the conduct related or similar?'] ===
          'Yes'
        "
      >
        <b>Explain any gaps in time</b><br />
        {{ formData.fileInTime["Explain any gaps in time"] }}
      </p>
      <p
        *ngIf="
          formData.fileInTime[
            'Did all of the conduct happen in the last year for all Respondents?'
          ] === 'No'
        "
      >
        <b>Why did you file late?</b><br />
        {{ formData.fileInTime["Why did you file late?"] }}
      </p>
      <p
        *ngIf="
          formData.fileInTime[
            'Did all of the conduct happen in the last year for all Respondents?'
          ] === 'No'
        "
      >
        <b>How will accepting your complaint benefit the public?</b><br />
        {{
          formData.fileInTime[
            "How will accepting your complaint benefit the public?"
          ]
        }}
      </p>
      <p
        *ngIf="
          formData.fileInTime[
            'Did all of the conduct happen in the last year for all Respondents?'
          ] === 'No'
        "
      >
        <b>Why would the delay in filing not harm anyone else?</b><br />
        {{
          formData.fileInTime[
            "Why would the delay in filing not harm anyone else?"
          ]
        }}
      </p>
    </div>

    <div style="margin-top: 30px;"></div>
    <h3>Other proceedings</h3>
    <div class="grey-box">
      <p>
        <b>Do you have another proceeding about the same events?</b>
        {{
          formData.otherProceedings[
            "Do you have another proceeding about the same events?"
          ]
        }}
      </p>
      <p
        *ngIf="
          formData.otherProceedings[
            'Do you have another proceeding about the same events?'
          ] === 'Yes'
        "
      >
        <b>What kind of proceeding is it?</b>
        {{ formData.otherProceedings["What kind of proceeding is it?"] }}
      </p>
      <p
        *ngIf="
          formData.otherProceedings[
            'Do you have another proceeding about the same events?'
          ] === 'Yes'
        "
      >
        <b>What stage is that proceeding at?</b>
        {{ formData.otherProceedings["What stage is that proceeding at?"] }}
      </p>
      <p
        *ngIf="
          formData.otherProceedings[
            'Do you have another proceeding about the same events?'
          ] === 'Yes'
        "
      >
        <b>Do you want the Tribunal to wait to deal with your complaint?</b>
        {{
          formData.otherProceedings[
            "Do you want the Tribunal to wait to deal with your complaint?"
          ]
        }}
      </p>
      <p
        *ngIf="
          formData.otherProceedings[
            'Do you want the Tribunal to wait to deal with your complaint?'
          ] === 'Yes'
        "
      >
        <b
          >Explain why you want the Tribunal to wait to deal with your
          complaint</b
        ><br />
        {{
          formData.otherProceedings[
            "Explain why you want the Tribunal to wait to deal with your complaint"
          ]
        }}
      </p>
    </div>

    <div style="margin-top: 30px;"></div>
    <h3>Remedies</h3>
    <div class="grey-box">
      <p>
        <b>Select the kinds of remedies you want:</b>
        {{
          formData.remedies["Select the kinds of remedies you want"]
            .join(", ")
            .replace(", other", "")
            .replace("other", "")
        }}
      </p>
      <p
        *ngIf="
          formData.remedies['Select the kinds of remedies you want-Comment']
        "
      >
        <b>Detail - Something specific (job back, policy…):</b>
        {{ formData.remedies["Select the kinds of remedies you want-Comment"] }}
      </p>
      <p
        *ngIf="
          formData.remedies['Select the kinds of remedies you want'].includes(
            'Other'
          )
        "
      >
        <b>Detail - Other:</b>
        {{ formData.remedies["Detail - Other"] }}
      </p>
    </div>

    <div style="margin-top: 30px;"></div>
    <h3>Mediation</h3>
    <div class="grey-box">
      <p>
        <b>Do you want to attend a mediation?</b>
        {{ formData.mediation["Do you want to attend a mediation?"] }}
      </p>
    </div>
    <div style="margin-top: 30px;"></div>

    <ng-container *ngIf="formData.indigenous">
      <h3>Indigenous Peoples</h3>
      <div class="grey-box">
        <p>
          I am Indigenous and I want the Tribunal to contact me about the
          process.
        </p>
      </div>
      <div style="margin-top: 30px;"></div>
    </ng-container>

    <h3 *ngIf="formData.statisticalInformation">
      Demographic Information
    </h3>
    <div class="grey-box" *ngIf="formData.statisticalInformation">
      <p>
        <b>Indigenous Identity</b>
        {{ formData.statisticalInformation["Indigenous Identity"] }}
        {{
          formData.statisticalInformation["Indigenous Identity-Comment"]
            ? " - " +
              formData.statisticalInformation["Indigenous Identity-Comment"]
            : ""
        }}
      </p>
      <p>
        <b>Racial Identity</b>
        {{ formData.statisticalInformation["Racial Identity"] }}
        {{
          formData.statisticalInformation["Racial Identity-Comment"]
            ? " - " + formData.statisticalInformation["Racial Identity-Comment"]
            : ""
        }}
      </p>
      <p>
        <b>Immigration Status</b>
        {{ formData.statisticalInformation["Immigration Status"] }}
        {{
          formData.statisticalInformation["Immigration Status-Comment"]
            ? " - " +
              formData.statisticalInformation["Immigration Status-Comment"]
            : ""
        }}
      </p>
      <p>
        <b>Primary Language</b>
        {{ formData.statisticalInformation["Primary Language"] }}
        {{
          formData.statisticalInformation["Language-Comment"]
            ? " - " + formData.statisticalInformation["Language-Comment"]
            : ""
        }}
      </p>
      <p>
        <b>
          Disability requiring accommodation in employment and services
        </b>
        {{
          formData.statisticalInformation[
            "Disability requiring accommodation in employment and services"
          ]
        }}
      </p>
      <p>
        <b>Gender Identity</b>
        {{ formData.statisticalInformation["Gender Identity"] }}
        {{
          formData.statisticalInformation["Gender Identity-Comment"]
            ? " - " + formData.statisticalInformation["Gender Identity-Comment"]
            : ""
        }}
      </p>
      <p>
        <b>Sexual Orientation</b>
        {{ formData.statisticalInformation["Sexual Orientation"] }}
        {{
          formData.statisticalInformation["Sexual Orientation-Comment"]
            ? " - " +
              formData.statisticalInformation["Sexual Orientation-Comment"]
            : ""
        }}
      </p>
      <p>
        <b>Age</b>
        {{ formData.statisticalInformation["Age"] }}
      </p>
      <p>
        <b>Household</b>
        {{ formData.statisticalInformation["Household"] }}
        {{
          formData.statisticalInformation["Household-Comment"]
            ? " - " + formData.statisticalInformation["Household-Comment"]
            : ""
        }}
      </p>
      <p>
        <b>Household Income After Tax</b>
        {{ formData.statisticalInformation["Household Income After Tax"] }}
      </p>
    </div>
    <div class="opt">
      <label
        ><input
          type="checkbox"
          [value]="checkbox"
          (click)="handleCheckboxChange($event)"
        />
        <span style="margin-left: 8px;"
          >I confirm that the information in this complaint form is true and
          accurate to the best of my knowledge and belief</span
        ></label
      >
    </div>
    <p class="warning" *ngIf="error">
      Please confirm your information is correct before submitting the form.
    </p>

    <button class="{{ buttonClass }}" (click)="handleSubmit()">Submit</button>
  </div>

  <div style="display: none;" id="pdf-container">
    <div class="pdf-container">
      <h2>
        FORM 1.1 – INDIVIDUAL COMPLAINT
      </h2>
      <p>
        Use This Form to File Your Own Complaint
      </p>

      <div class="section">
        <h2>
          Case
        </h2>
        <p>
          <b>
            Case Number: ::Case.Name::
          </b>
        </p>
        <p>
          <b> Date Received: {{ getCurrentDate() }} </b>
        </p>
      </div>
      <div class="section">
        <h2>
          Step 1 - Party Information
        </h2>
        <div>
          <h4>
            Who experienced discrimination (Complainant)?
          </h4>
          <p>
            <b>
              Legal name – First name:
              {{ formData.complainant["Legal Name - First Name"] }}
            </b>
          </p>

          <p>
            <b>
              Legal name – Last name:
              {{ formData.complainant["Legal Name - Last Name"] }}
            </b>
          </p>
          <p>
            <b>
              Preferred name – e.g. traditional name, nickname, alias:

              {{
                formData.complainant[
                  "Preferred name - e.g. traditional name, nickname, alias"
                ]
              }}
            </b>
          </p>
          <p *ngIf="formData.complainant['Use my preferred name']">
              Use my preferred name:
              {{ formData.complainant["Use my preferred name"].join(", ") }}
            </b>
          </p>
          <p>
            <b>
              Title:
              {{
                formData.complainant["Title"]
                  ? formData.complainant["Title"] === "other"
                    ? formData.complainant["Title-Comment"]
                    : formData.complainant["Title"]
                  : ""
              }}
            </b>
          </p>
          <p>
            <b>
              Pronoun:
            
            {{
              formData.complainant["Pronoun"]
                ? formData.complainant["Pronoun"] === "other"
                  ? formData.complainant["Pronoun-Comment"]
                  : formData.complainant["Pronoun"]
                : ""
            }}
        </b>
          </p>
        </div>
        <ng-container
          *ngIf="
            formData.complainant['Select only one option'] !== 'The complainant'
          "
        >
          <div>
            <h4>
              Who will communicate with the Tribunal about this Complaint?
            </h4>
            <p>
              <b>{{ formData.complainant["Select only one option"] }}</b>
            </p>
          </div>
          <div>
            <h4>
                Name of the person who will communicate with the Tribunal
            </h4>
            <p>
              <b> First name: 
              {{ formData.complainant["First name"] }}
            </b>
            </p>
            <p><b> Last name:  {{ formData.complainant["Last name"] }}</b></p>
            <p>
              <b>
                Preferred name – e.g. traditional name, nickname, alias:
              
              {{
                formData.complainant[
                  "Contact Preferred name - e.g. traditional name, nickname, alias"
                ]
              }}</b>
            </p>
            <p>
              <b>
                Organization name (e.g. law firm, if applicable):
              
              {{
                formData.complainant["Organization name"]
                  ? formData.complainant["Organization name"]
                  : ""
              }}</b>
            </p>
            <p>
              <b> Title: 
              {{
                formData.complainant["Contact Title"]
                  ? formData.complainant["Contact Title"] === "other"
                    ? formData.complainant["Contact Title-Comment"]
                    : formData.complainant["Contact Title"]
                  : ""
              }}</b>
            </p>
            <p>
              <b> Pronoun: 
              {{
                formData.complainant["Contact Pronoun"]
                  ? formData.complainant["Contact Pronoun"] === "other"
                    ? formData.complainant["Contact Pronoun-Comment"]
                    : formData.complainant["Contact Pronoun"]
                  : ""
              }} </b>
            </p>
          </div>
        </ng-container>
        <div>
          <h4>
            Complainant’s address for delivery
          </h4>
          <p>
            <b>
              Mailing address:
            
            {{ formData.complainant["Complainant Contact Mailing address"] }},
            {{ formData.complainant["Complainant Contact City"] }},
            {{ formData.complainant["Complainant Contact Province"] }}
            {{ formData.complainant["Complainant Contact Postal Code"] }}
        </b>
          </p>
          <p>
            <b>
              Phone number:
            
            {{
              formData.complainant["Complainant Contact Phone number"] || "N/A"
            }}
        </b>
          </p>
          <p>
            <b>
              Cell:
            
            {{
              formData.complainant["Complainant Contact Cell Phone number"] ||
                "N/A"
            }}
        </b>
          </p>
          <p>
            <b>
              Fax:
           
            {{ formData.complainant["Complainant Contact Fax"] || "N/A" }}
        </b>
          </p>
        
          <p>
            <b>
              Email:
            
            {{ formData.complainant["Complainant Contact Email"] || "N/A" }}
        </b>
          </p>
          
        </div>
        <div>
          <h4>
            Respondent contact information
          </h4>

          <div
            style="margin-bottom: 20px;"
            *ngFor="
              let respondent of formData.complainant[
                'Respondents Contact Information'
              ]
            "
          >
            <p>
              <b>Name of the Respondent:
              {{ respondent["Name of the Respondent"] }}</b>
            </p>
            <p>
              <b>Relationship to you (For example, your employer):
              {{ respondent["Relationship to you"] }}</b>
            </p>
            <p>
              <b>Respondent Contact Email:
              {{ respondent["Respondent Contact Email"] || "N/A" }}</b>
            </p>
            <p>
              <b>Mailing Address:<br />
              {{ respondent["Mailing address"] }},
              {{
                respondent["Address line 2"]
                  ? respondent["Address line 2"] + ", "
                  : ""
              }}
              {{ respondent["City"] + ", " || "" }}
              {{ respondent["Province"] + ", " || "" }}
              {{ respondent["Postal Code"] }}</b>
            </p>
            <p>
              <b>Phone:
              {{ respondent["Respondent Contact Phone number"] || "N/A" }}</b>
            </p>
            <p>
              <b>Cell:
              {{ respondent["Respondent Contact Cell Phone number"] || "N/A" }}</b>
            </p>
            <p>
              <b>Fax:
              {{ respondent["Respondent Contact Fax"] || "N/A" }}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="section">
        <h2>
            Steps 2A - Areas of Discrimination & Step 2B -Grounds of Discrimination
        </h2>
        

        <div
          *ngFor="let area of formData.areaAndGrounds.areas"
          style="margin-bottom: 20px;"
        >
          <p>
            <b>Area:
            {{ area["What is the Area of Discrimination?"] }}
        </b>
          </p>
          <p
            *ngIf="area['What is the Area of Discrimination?'] === 'Employment'"
          >
            <b>If your complaint is about employment, check if it’s about:
            {{
              area[
                "If your complaint is about employment, check if it’s about"
              ].join(", ")
            }}{{
              area[
                "If your complaint is about employment, check if it’s about-Comment"
              ]
                ? ": " +
                  area[
                    "If your complaint is about employment, check if it’s about-Comment"
                  ]
                : ""
            }}</b>
          </p>
          <p>
            <b>Ground</b>
          </p>
          <p
            *ngFor="let item of area['What are the Grounds of Discrimination?']"
          >
          <b>{{ item }}: {{ area["Details - " + item] }}</b>
          </p>
        </div>
      </div>
      <div class="section">
        <h2>
          Step 3 - Details of the Discrimination
        </h2>
        <h4>
            Details of the Discrimination for each Respondent
        </h4>
        <ng-container
          *ngFor="
            let event of formData.detailsOfDiscrimination[
              'Details of the Discrimination for each Respondent'
            ]
          "
          style="margin-bottom: 10px;"
        >
          <p><b>Respondent Name: {{ event.Respondent }}</b></p>
          <p>
            <b>Describe the harm you experienced in a few words :
            {{ event["Describe the harm you experienced in a few words"] }}</b>
          </p>
          <p>
            <b
              >Explain how the harm relates to the grounds you have selected
              before:
            {{
              event[
                "Explain how the harm relates to the grounds you have selected before"
              ]
            }}</b>
          </p>
          <div>
            <b
              >Describe what this Respondent did that harmed you.</b
            >
            <ng-container
              *ngFor="
                let detail of event[
                  'Give details about this Respondent’s conduct that you say is discrimination'
                ]
              "
            >
              <p>
                  <b>
                  Date: {{ detail.Date }}
                </b>
                <br />
                <b>
                    Conduct:
                  
                  {{ detail.Conduct }} </b>
              </p>
            </ng-container>
          </div>
          <div style="margin-top: 20px;"></div>
        </ng-container>
      </div>
      <div class="section">
        <h2>
          Step 4 – Time Limit to Make Complaint
        </h2>
        <ng-container
          *ngFor="
            let respondent of formData.fileInTime[
              'There is a 1-year time limit for filing a complaint'
            ]
          "
          style="margin-bottom: 10px;"
        >
          <p><b>Respondent Name: {{ respondent["Respondent name"] }}</b></p>
          <p>
            <b>What is the date of the most recent conduct that you listed as discrimination in the previous step? 
            {{
              respondent[
                "What is the date of the most recent event that you say is discrimination?"
              ]
            }}</b>
          </p>
          <p>
            <b>Did the most recent conduct happen in the last year? 
            {{
              respondent["Did the most recent conduct happen in the last year?"]
            }}</b>
          </p>
        </ng-container>
        <p>
          <b
            >Did all of the conduct happen in the last year for all Respondents:
          {{
            formData.fileInTime[
              "Did all of the conduct happen in the last year for all Respondents?"
            ]
          }}</b
          >
        </p>
        <ng-container
          *ngIf="
            formData.fileInTime[
              'Did all of the conduct happen in the last year for all Respondents?'
            ] === 'No'
          "
        >
          <p>
            <b>Is all the conduct related or similar: 
            {{
              formData.fileInTime["Is all of the conduct related or similar?"]
            }}</b>
          </p>
        </ng-container>
        <ng-container
          *ngIf="
            formData.fileInTime['Is all of the conduct related or similar?'] ===
            'Yes'
          "
        >
          <p>
            <b>Explain how the conduct is similar or related</b>
          </p>
          <p>
            <b>{{
              formData.fileInTime[
                "Explain how the conduct is similar or related"
              ]
            }}</b>
          </p>
        </ng-container>
        <ng-container
          *ngIf="
            formData.fileInTime['Is all of the conduct related or similar?'] ===
            'Yes'
          "
        >
          <p>
            <b>Explain any gaps in time</b>
          </p>
          <p>
            <b>{{ formData.fileInTime["Explain any gaps in time"] }}</b>
          </p>
        </ng-container>

        <ng-container
          *ngIf="
            formData.fileInTime[
              'Did all of the conduct happen in the last year for all Respondents?'
            ] === 'No'
          "
        >
          <h4>
            Ask Tribunal to accept late complaints
          </h4>
          
          <p><b>Why did you file late?</b></p>
          <p><b>{{ formData.fileInTime["Why did you file late?"] }}</b></p>

          <p>
            <b>How will accepting your complaint benefit the public?</b>
          </p>
          <p><b>
            {{
              formData.fileInTime[
                "How will accepting your complaint benefit the public?"
              ]
            }}</b>
          </p>

          <p>
            <b>Why would the delay in filing not harm anyone else?</b>
          </p>
          <p><b>
            {{
              formData.fileInTime[
                "Why would the delay in filing not harm anyone else?"
              ]
            }}</b>
          </p>
        </ng-container>
      </div>
      <div class="section">
        <h2>
          Step 5 - Other Proceedings
        </h2>
        <p>
          <b>Do you have another proceeding about the same events?
          {{
            formData.otherProceedings[
              "Do you have another proceeding about the same events?"
            ]
          }}
        </b>
        </p>
        <ng-container
          *ngIf="
            formData.otherProceedings[
              'Do you have another proceeding about the same events?'
            ] === 'Yes'
          "
        >
          <p>
            <b>What kind of proceeding is it?</b>
          </p>
          <p><b>
            {{ formData.otherProceedings["What kind of proceeding is it?"] }}</b>
          </p>

          <p>
            <b>What stage is that proceeding at?</b>
          </p>
          <p><b>
            {{ formData.otherProceedings["What stage is that proceeding at?"] }}</b>
          </p>

          <p>
            <b>Do you want the Tribunal to wait to deal with your complaint?</b>
          </p>
          <p><b>
            {{
              formData.otherProceedings[
                "Do you want the Tribunal to wait to deal with your complaint?"
              ]
            }}</b>
          </p>

          <p
            *ngIf="
              formData.otherProceedings[
                'Do you want the Tribunal to wait to deal with your complaint?'
              ] === 'Yes'
            "
          >
            <b
              >Explain why you want the Tribunal to wait to deal with your
              complaint<br />
            {{
              formData.otherProceedings[
                "Explain why you want the Tribunal to wait to deal with your complaint"
              ]
            }}</b>
          </p>
        </ng-container>
      </div>
      <div class="section">
        <h2>
          Step 6 - Remedies
        </h2>
        <p>
          <b>Select the kinds of remedies you want that are available under s.
            37 of the Human Rights Code:
          {{
            formData.remedies["Select the kinds of remedies you want"]
              .join(", ")
              .replace(", other", "")
              .replace("other", "")
          }}</b>
        </p>
        <p
          *ngIf="
            formData.remedies['Select the kinds of remedies you want-Comment']
          "
        >
          <b>Detail - Something specific (job back, policy…):
          {{
            formData.remedies["Select the kinds of remedies you want-Comment"]
          }}</b>
        </p>
        <p
          *ngIf="
            formData.remedies['Select the kinds of remedies you want'].includes(
              'Other'
            )
          "
        >
          <b>Something specific:</b>
          {{ formData.remedies["Detail - Other"] }}
        </p>
      </div>
      <div class="section">
        <h2>
          Step 7 - Mediation
        </h2>
        <p>
          <b>Do you want to attend a mediation?
          {{ formData.mediation["Do you want to attend a mediation?"] }}</b>
        </p>
      </div>
      <ng-container *ngIf="formData.indigenous">
        <div class="section">
          <h2>
            Step 8 - Indigenous Peoples
          </h2>
          <p>
            <b>
            I am Indigenous and I want the Tribunal to contact me about the
            process.
        </b>
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
