// #surveyElementHRT .sv_q_title>span {
//   color: #556077;
//   font-size: 1.75em;
//   line-height: 1.2;
//   margin-bottom: 1em;
//   margin-top: 5px;
// }
.panel {
  box-shadow: none;
}
#respondents {
  .sv_p_title {
    font-size: 24px;
    padding-left: 0.6em;
    font-weight: 500;
  }
}

.home-content {
  .sv_q_title {
    font-weight: bold;
  }
}
