<div class="row">
  <div id="type"
    style="z-index:1;display: none;position:fixed;top:0;left:0;background-color: #e3e3e3;width:100%;height:100vh;justify-content:center; align-items: center;">
    <div class="modal-content">
      <div>
        <h3>
          Grounds of discrimination
        </h3>
        <h4>
          Age
        </h4>
        <p>
          "Age" means 19 years or more. It does not apply to purchase of property.
        </p>

        <h4>
          Ancestry
        </h4>
        <p>
          "Ancestry" is defined broadly and includes where a person's family is from.
        </p>

        <h4>
          Colour
        </h4>
        <p>
          "Colour" refers to a person's colour.
        </p>

        <h4>
          Criminal Conviction
        </h4>
        <p>
          "Criminal conviction" includes being charged with or convicted of an offence under the Criminal Code or
          another law. It only applies to employment or membership in a union or occupational association.
        </p>

        <h4>
          Family Status
        </h4>
        <p>
          "Family status" includes being related to another person by blood, marriage or adoption. It includes family
          type (for example, a single parent family) and who is in your family (for example, you are fired because of
          who your father is). It does not apply to purchase of property.
        </p>

        <h4>
          Gender Identity or Expression
        </h4>
        <p>
          "Gender identity" is a person's sense of themselves as male, female, both, in between or neither. It includes
          people who identify as transgender. Gender identity may be different or the same as the sex a person is
          assigned at birth.
        </p>
        <p>
          "Gender expression" is how a person presents their gender. This can include behaviour and appearance,
          including dress, hair, make-up, body language and voice. This can also include name and pronoun, such as he,
          she or they. How a person presents their gender may not necessarily reflect their gender identity.
        </p>

        <h4>
          Marital Status
        </h4>
        <p>
          "Marital status" includes being married, single, widowed, divorced, separated or living common-law. It
          includes who your spouse is (for example, you are refused service because of who your wife is).
        </p>

        <h4>
          Mental Disability
        </h4>
        <p>
          "Mental disability" includes a mental condition such as a learning disorder, developmental disability, or
          mental illness, that affects or is seen as affecting a person's abilities.
        </p>

        <h4>
          Physical Disability
        </h4>
        <p>
          "Physical disability" includes a physical condition that affects or is seen as affecting a person's abilities
        </p>

        <h4>
          Place of Origin
        </h4>
        <p>
          "Place of origin" is defined broadly and includes where a person is from.
        </p>

        <h4>
          Political Belief
        </h4>
        <p>
          "Political belief" includes support of a political party or group that advocates political change, and beliefs
          about the organization and governance of communities. It only applies to employment, employment
          advertisements, and membership in a union or occupational association.
        </p>

        <h4>
          Race
        </h4>
        <p>
          "Race" is defined broadly to include groups such as First Nations, Métis, Chinese or South Asian.
        </p>

        <h4>
          Religion
        </h4>
        <p>
          "Religion" includes adherence to the practices of a particular faith or genuinely held religious beliefs, and
          not having religious beliefs.
        </p>

        <h4>
          Sex
        </h4>
        <p>
          "Sex" includes being a man, woman, inter-sexed or transgender. It also includes pregnancy, breastfeeding and
          sexual harassment.
        </p>

        <h4>
          Sexual Orientation
        </h4>
        <p>
          "Sexual orientation" includes being heterosexual, gay, lesbian or bisexual.
        </p>

        <h4>
          Source of Income
        </h4>
        <p>
          "Source of income" refers to legal sources of income. For example, it includes income assistance, disability
          pension benefits, or rent subsidies. It only applies in the area of tenancy.
        </p>

      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h1>
      Remedies
    </h1>
    <div class="intro">

    </div>
    <div id="surveyElementHRT"></div>
    <div class="navigation">
      <button class="btn btn-default" (click)="handleNextStep()">
        Continue
      </button>
    </div>

  </div>
</div>
