<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Before you start
      </h1>
      <div class="intro">
        <div class="privacy">
          <h3>
            How to use this form
          </h3>
          <ul>
            <li>
              Complete this form to file a discrimination complaint in BC for a
              group or class of persons
            </li>
            <li>
              Do not attach evidence about your complaint, unless it is an
              employment ad or publication you say is discriminatory. The
              Tribunal will tell you when you need to submit evidence to support
              your complaint.
            </li>
            <li>
              If you are filing the complaint for another person, you must also
              file a Form 1.2 Authorization (unless you are their lawyer or
              legal advocate). Get the Form 1.2 on the
              <a
                href="http://www.bchrt.bc.ca/law-library/forms/index.htm"
                target="_blank"
                >Tribunal’s website</a
              >
            </li>
          </ul>
          <h3>
            1-year time limit to make complaint
          </h3>
          <ul>
            <li>
              Submit this form within <b>1 year</b> of the discrimination, if
              possible.
            </li>
            <li>
              If you file late, you can ask the Tribunal to accept your
              complaint when you fill out this form.
            </li>
          </ul>
          <h3>
            Do you need help?
          </h3>
          <ul>
            <li>
              We recommend you get legal advice about your complaint before
              submitting it, if possible.
            </li>
            <li>
              See
              <a
                href="http://www.bchrt.bc.ca/whocanhelp/index.htm"
                target="_blank"
                >Who Can Help?</a
              >
              on the Tribunal’s website
            </li>
          </ul>
          <h3>
            What will the Tribunal do with this form?
          </h3>
          <p>
            The Tribunal will read the form to see if you set our possible
            discrimination under the Human Rights Code.
          </p>
          <ul>
            <li>
              The Tribunal will usually ask you for more information.
            </li>
            <li>
              If you set out possible discrimination, the Tribunal will give a
              copy of your complaint to Respondents so they can respond to your
              complaint.
            </li>
          </ul>
          <h3>
            Privacy notice
          </h3>
          <p>
            See the
            <a
              href="http://www.bchrt.bc.ca/law-library/policies/privacy.htm"
              target="_blank"
              >Complaint Process Privacy Policy</a
            >.
          </p>
          <h3>
            More information
          </h3>
          <p>There is more information at the end of this form about:</p>
          <ul>
            <li>
              Meeting your needs in the process so you can take part (The legal
              term is “accommodation”)
            </li>
            <li>
              What happens next
            </li>
            <li>
              Protection from retaliation for making a complaint
            </li>
          </ul>
          <h3>
            Some things to know about the online complaints form
          </h3>
          <ul>
            <li>
              An * on the form means you must answer this question
            </li>
            <li>
              You can use this form on your computer or on your smartphone
            </li>
            <li>
              This form does not work with Internet Explorer 8 or Compatibility
              Mode
            </li>
            <li>
              For more information see
              <a href="https://angular.io/guide/browser-support" target="_blank"
                >this website</a
              >
            </li>
          </ul>
          <h3>
            You have two options to fill out the form
          </h3>
          <ul>
            <li>
              <p>Continue as Guest.</p>
              <ul>
                <li>This option is easiest.</li>
                <li>
                  This option won’t save your work if you close the form or if
                  you leave the form for more than 30 minutes.
                </li>
                <li>
                  This option gives you 8 hours to complete the form. But you
                  can’t leave the form for more than 30 minutes.
                </li>
              </ul>
            </li>
            <li>
              <p>Login to Continue.</p>
              <ul>
                <li>
                  This option requires you to create an account. You can choose
                  a Basic account.
                </li>
                <li>
                  After you create an account, click “Continue to Service
                  Directory” and search “HRT”.
                </li>
                <li>
                  In your form, you can click “Save for Later”. You can login
                  later to work on your form.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="surveyElementHRT"></div>
  <div id="surveyResult"></div>
  <div style="text-align: right;">
    <!-- <button (click)="handleNextStep()" type="button"></button> -->
    <button class="btn btn-default" (click)="confirm()">
      Continue as Guest
    </button>
    <button
      class="btn btn-default"
      style="margin-left: 20px;"
      (click)="clickTest()"
    >
      Login to Continue
    </button>
  </div>
</div>
