<div class="row">

  <h1>Complaint Submitted</h1>

  <p>
    Your complaint have been successfully submitted
  </p>

  <h3>
    WHAT HAPPENS NEXT?
  </h3>

  <p>After the Tribunal has reviewed your complaint, it will tell you one of the following: </p>
  <ul>
    <li>
      the complaint form is complete and the complaint will proceed to the next step. The Tribunal will send a copy to the Respondent(s) 
    </li>
    <li>
      the complaint form is incomplete and the Tribunal will ask you for more information by a certain date 
    </li>
    <li>
      the complaint is on hold until the end of another proceedings 
    </li>
    <li>
      the complaint cannot be accepted for filing because:
      <ul>
        <li>
          the complaint is not covered by the BC Human Rights Code 
        </li>
        <li>
          the complaint does not set out facts that could be discrimination under the BC Human Rights Code 
        </li>
        <li>
          the complaint was filed late and the Tribunal has decided not to accept it.
        </li>
      </ul>
    </li>
    


  </ul>

  <h3 style="margin-top: 30px;">
    PROTECTION FROM RETALIATION
  </h3>
  <p>
    The Human Rights Code forbids retaliation:
  </p>
  <ul>
    <li>
      against someone who makes a complaint or might make a complaint
    </li>
    <li>
      against someone who might get involved in a complaint. This includes parties, witnesses, or anyone who might help with a complaint. 
    </li>
  </ul>
  <p>
    Retaliation is conduct that punishes someone for their involvement in a complaint. It includes:
  </p>
  
  <ul>
    <li>
      Evicting
    </li>
    <li>
      firing or suspending
    </li>
    <li>
      expelling or kicking out
    </li>
    <li>
      Intimidating
    </li>
    <li>
      Penalizing
    </li>
    <li>
      other similar kinds of harm
    </li>
  </ul>
  <p>
    For more information see, Name of Information Sheet on website. 
  </p>
  <p>If you or someone else has been retaliated against, complete a Retaliation Complaint Form available on our website. </p>
</div>
