<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Before you start
      </h1>
      <div class="intro">
        <ul>
          <li>
            For any information, you can visit the Tribunal’s website:
            <a href="http://www.bchrt.bc.ca" target="_blank">www.bchrt.bc.ca</a>
          </li>
          <li>
            For assistance with filing your complaint, contact
          </li>
        </ul>
        <div class="contact-info">
          <div>
            <h4>
              BC Human Rights Clinic
            </h4>
            <p>
              BC Human Rights Clinic
            </p>
            <p>
              300 - 1140 W Pender Street<br />
              Vancouver BC V6E 4G1
            </p>
            <p>Tel: <a href="tel:604-622-1100">604-622-1100</a></p>
            <p>Toll-Free: <a href="tel:1-855-685-6222">1-855-685-6222</a></p>
            <p>
              <a href="https://bchrc.net">https://bchrc.net</a>
            </p>
          </div>
          <div>
            <h4>
              The Law Center -  University of Victoria Faculty of Law
            </h4>
            <p style="visibility: hidden;">
              .
            </p>
            <p>
              225 - 850 Burdett Avenue <br />
              Victoria BC V8W 0C7
            </p>
            <p>Tel: <a href="tel:250-385-1221">250-385-1221</a></p>
            <p>Fax: 250-385-1226</p>
            <p>
              <a href="http://thelawcentre.ca/" target="_blank"
                >https://thelawcentre.ca/</a
              >
            </p>
          </div>
        </div>

        <div class="privacy">
          <h3>
            PRIVACY NOTICE
          </h3>
          <p>
            The Tribunal collects personal information to process complaints
            filed under the Human Rights Code and to conduct surveys to evaluate
            and improve its services under s. 59.1 of the Administrative
            Tribunals Act.
          </p>
          <p>
            <strong
              >The information statistical information on the previous page is
              confidential.</strong
            >
            The other personal information in this form will be disclosed to the
            other parties and to the Office of the Human Rights Commissioner and
            may be disclosed to the public as follows:
          </p>
          <ul>
            <li>
              The Tribunal publishes most decisions on its website
            </li>
            <li>
              The Tribunal publishes a hearing schedule (list of upcoming
              hearings) with the parties’ names and the areas and grounds of
              discrimination.
            </li>
            <li>
              After a complaint is on the hearing schedule, the public has
              access to information, including the complaint and response forms
              (except contact information)
            </li>
            <li>
              Hearings are open to the public.
            </li>
            <li>
              The
              <i>Freedom of Information and Protection of Privacy Act</i>
              applies to the Tribunal. Someone can apply to see information in
              the complaint file.
            </li>
          </ul>
          <p>
            You can ask the Tribunal to limit the information it makes public.
            Use a form 7 to apply.
          </p>
          <p>
            Other laws may restrict another party from going public with
            information in this complaint. You can also ask the Tribunal to
            order a publication ban. Use a Form 7 to apply.
          </p>
          <p>
            The Tribunal will decide if your privacy interests outweigh the
            public interest in access to the Tribunal’s proceedings. For more
            information, see the Tribunal’s website, or contact the Tribunal
            Registrar at the address or phone number at the top of this form.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="surveyElementHRT"></div>
  <div id="surveyResult"></div>
  <div style="text-align: right;">
    <!-- <button (click)="handleNextStep()" type="button"></button> -->
    <button class="btn btn-default" (click)="confirm()">Continue</button>
    <button (click)="clickTest()">Testing Service</button>
  </div>
</div>
