<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Before you start
      </h1>
      <div class="intro">
        <!-- <ul>
          <li>
            For any information, you can visit the Tribunal’s website:
            <a href="http://www.bchrt.bc.ca" target="_blank">www.bchrt.bc.ca</a>
          </li>
          <li>
            For assistance with filing your complaint, contact
          </li>
        </ul> -->
        <!-- <div class="contact-info">
          <div>
            <h4>
              BC Human Rights Clinic
            </h4>
            <p>
              BC Human Rights Clinic
            </p>
            <p>
              300 - 1140 W Pender Street<br />
              Vancouver BC V6E 4G1
            </p>
            <p>Tel: <a href="tel:604-622-1100">604-622-1100</a></p>
            <p>Toll-Free: <a href="tel:1-855-685-6222">1-855-685-6222</a></p>
            <p>
              <a href="https://bchrc.net">https://bchrc.net</a>
            </p>
          </div>
          <div>
            <h4>
              The Law Center -  University of Victoria Faculty of Law
            </h4>
            <p style="visibility: hidden;">
              .
            </p>
            <p>
              225 - 850 Burdett Avenue <br />
              Victoria BC V8W 0C7
            </p>
            <p>Tel: <a href="tel:250-385-1221">250-385-1221</a></p>
            <p>Fax: 250-385-1226</p>
            <p>
              <a href="http://thelawcentre.ca/" target="_blank"
                >http://thelawcentre.ca/</a
              >
            </p>
          </div>
        </div> -->

        <div class="privacy">
          <h3>
            How to use this form
          </h3>
          <ul>
            <li>
              Complete this form to file retaliation complaint in BC for
              yourself or another person
            </li>
            <li>
              Do not attach evidence about your complaint, unless it is an
              employment ad or publication you say is discriminatory. The
              Tribunal will tell you when you need to submit evidence to support
              your complaint.
            </li>
            <li>
              Submit this form within
              <b>
                1 year
              </b>
              of the retaliation, if possible.
            </li>
          </ul>
          <h3>
            Do you need help?
          </h3>
          <ul>
            <li>
              We recommend you get legal advice about your complaint before
              submitting it, if possible.
            </li>
            <li>
              See
              <a href="http://www.bchrt.gov.bc.ca/resources/index.htm"
                >Who Can Help?</a
              >
              on the Tribunal’s website
            </li>
          </ul>
          <h3>
            What will the Tribunal do with this form?
          </h3>
          <p>
            The Tribunal will read the form to see if you set our possible
            retaliation under the Human Rights Code.
          </p>
          <ul>
            <li>
              If not, the Tribunal will ask you for more information.
            </li>
            <li>
              If so, the Tribunal will give a copy to the organization or person
              you say retaliated
              <b>
                [Respondents]
              </b>
              so they can respond to your complaint
            </li>
          </ul>
          <h3>
            Privacy notice
          </h3>
          <p>
            The Tribunal collects personal information to process human rights
            complaints. The Tribunal may survey parties to improve its services.
          </p>
          <p>
            The demographic information you give at the end of this form is
            confidential.
          </p>
          <p>
            The Tribunal will give a copy of the rest of the form to the other
            parties.
          </p>
          <p>
            The Tribunal must provide copies of complaints and responses to the
            Office of the Human Rights Commissioner. The Tribunal may provide
            the Commissioner with other records in a complaint file.
          </p>
          <p>
            The Tribunal’s process is public. The Tribunal may disclose personal
            information to the public as follows:
          </p>
          <ul>
            <li>
              The Tribunal publishes most decisions
              <a
                href="http://www.bchrt.bc.ca/law-library/decisions/index.htm"
                >on its website</a
              >.
            </li>
            <li>
              The Tribunal publishes a hearing schedule.
            </li>
            <li>
              Before a hearing, the public can see parts of the file. This does
              not include contact information. It does include:
              <ul>
                <li>
                  The complaint
                </li>
                <li>
                  The response to the complaint
                </li>
              </ul>
            </li>
            <li>
              Hearings are open to the public.
            </li>
            <li>
              The
              <i>Freedom of Information and Protection of Privacy Act</i>
              applies to the Tribunal. Someone can apply to see information in
              the complaint file.
            </li>
          </ul>
          <p>
            You can ask the Tribunal to limit the information it makes public.
            You can also ask the Tribunal to order a publication ban. Use a Form
            7.1 General Application to apply. For more information, see
            <a href="http://www.bchrt.bc.ca/law-library/guides-info-sheets/general-apps/index.htm" target="_blank"
              >the Tribunal’s website</a
            >.
          </p>
          <p>
            Other laws may restrict a party from going public with information
            in this complaint.
          </p>
          <p>
            For more information, see the
            <a href="http://www.bchrt.bc.ca/law-library/policies/privacy.htm"
              >Complaint Process Privacy Policy</a
            >.
          </p>
          <h3>
            More information
          </h3>
          <p>There is more information at the end of this form about:</p>
          <ul>
            <li>
              Meeting your needs in the process so you can take part (The legal
              term is “accommodation”)
            </li>
            <li>
              What happens next
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="surveyElementHRT"></div>
  <div id="surveyResult"></div>
  <div style="text-align: right;">
    <!-- <button (click)="handleNextStep()" type="button"></button> -->
    <button class="btn btn-default" (click)="confirm()">Continue</button>
  </div>
</div>
